/* NAVIGATION */

nav {
  background-color: #1e293b;
  padding: 15px 30px;
  display: flex;
  gap: 20px;
  
}

nav a {
  color: #f1f5f9;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
  
}

nav a:hover {
  color: #38bdf8;
}

nav a.active {
  border-bottom: 2px solid #38bdf8;
  padding-bottom: 3px;
}

hr {
  margin: 0;
}